<%- include ('layouts/header.js') -%>

  </head>
  <body>
    <div class="container"><br>
      <h1><%= title %></h1><br>
      <p>Fanart is a piece of art inspired by a previous creation, franchise, series, video game, etc, and is usually 
        part of the current artist's development. Many of them started drawing the characters they like.

        This portfolio compiles the material of different franchises to which it has developed content, 
        communities to which as an artist is part, where we find:
        <br> <br>
        <br></p>


    </div>

    <br>


    <div class="container">
      

      <div class="card cardi2 mb-3">
        <img src="https://i.ytimg.com/vi/FSmJ4ipVFv0/maxresdefault.jpg" class="card-img-top" alt="El original Sonic.exe">
        <div class="card-body">
          <br><h3 class="card-title">The principal: <b>Sonic.exe</b> (2011)</h3><br>
          <p class="card-text">Sonic.exe (whose real name is X) is the main antagonist of the creepypasta of the same name and its sequel.  
            X is a being created outside our universe who learned from our world. Thanks to his dark powers, 
            he copied Sonic's appearance and decided to create his own world inspired by Sonic's universe. 
            X hopes that one day the door between his world and ours will open so that all his dark powers will spill into our world 
            to make slaves of all humanity for eternity. </p>
          <p class="card-text"><small>Author: JC The Hyena</small></p>
        </div>
      </div>

      <br><br>


      <div class="row">
        <div class="col-sm-6">
 <div class="card cardi2 mb-3" style="max-width: 640px; ">
              <div class="row g-0">
                <div class="col-md-4">
                  <img src="https://wallpapersmug.com/download/1280x2120/bd1f8f/goku-anime-art-glowing-eyes.jpg" class="img-fluid rounded-start" alt="Dragon Ball">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">The childhood: <b>Dragon Ball</b></h5><br>
                    <p class="card-text">
                      The famous franchise that describes the adventures of Goku, a Saiyan warrior, 
                      an expert in martial arts who in his childhood begins his travels and adventures 
                      in which he tests and improves his fighting skills, facing enemies and protecting the Earth 
                      from other beings. who want to conquer it and exterminate humanity.
                    </p>
                    <p class="card-text"><small>Author: Akira Toriyama</small></p>
                  </div>
                </div>
              </div>
        </div>

    </div>
    


            
            <div class="card cardi2 mb-3" style="max-width: 640px;">
              <div class="row g-0 ">
                <div class="col-md-4">
                  <img src="https://image.tmdb.org/t/p/w500/go6y9J0YWwLFxkIWlXFM2NlBKcL.jpg"  class="img-fluid" alt="Villainous">
                </div>
                <div class="col-md-8">
                  <div class="card-body">
                    <h5 class="card-title">The evilness: <b>Villainous</b></h5><br>
                    <p class="card-text">
                      The story revolves around the company Black Hat Org, led by Black Hat along with his three assistants, 
                      who are dedicated to selling evil inventions to other villains in the world, although these always bring bad results. 
                      An animated series between Cartoon Network and AI Animation Studios.
                    </p>
                    <p class="card-text"><small >Author: Alan Ituriel</small></p>
                  </div>
                </div>
              </div>
            </div>
        

          
        </div>
      

  



  

    </div>


    
  </body><br>
  <%- include ('layouts/footer.js') -%>
</html>